/* #first{
    background-color: cyan;
    border: 2px white groove;

}

#second {
    background-color: brown;
    border: 2px white groove;

}

#third{
    background-color: blue;
    border: 2px white groove;

}

#forth{
    background-color: blueviolet;
    border: 2px white groove;

}
 */

#title{
    background-color: #ff4c68;
}

#ul{
    margin-left: auto;
}

.navbar-nav{
    margin-left: auto;
}
#nav{
    background-color: none;
    padding-top: 0 0 4.5rem;
}

body{
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Square Peg', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace;
color: #fff;
}


#container{
    padding: 3% 15%;


}
#raw{
    padding-top: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
   
}



.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}


.download-button{
    margin: 5% 4% 5% 0;
}

.img1{
    
    width: 60%;
    transform: rotate(25deg);
    /* position: absolute; */

}


#h1{
    font-size: 3rem;
}


#features{
 
    margin: auto;
 
    margin: 7% 15%;
    text-align: center;
    background-color: #fff;
    /* position: relative;
    z-index: 1; */
    
  
    
}

#features h3{
    font-size: 2rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;


}


.icon{
    color: #ef8172;
    margin-top: 1em;
    margin-bottom: 20px;
}

.icon:hover , 
#footer .fac:hover{
color: #ff4c68;
}


#features p  {
    
    color: rgb(121, 121, 121);

}

.card{
    color: black;
}

@media (max-width : 900px){
    .img1{
    
        width: 60%;
        transform: rotate(0);
       margin: 0 auto; 
       display: flex;
       justify-content: center;

    }

    #title{
        text-align: center;
    }

    #th1{
        font-size: 2.2rem;
    }


}


/* |||||||||||||testimonials|||||||||||| */


#testimonials{
    padding: 1% 10%;
    height: 450px;
    text-align: center;
    background-color: #ef8172;
    color: rgb(26, 29, 31);
    padding-bottom: 30%;
}

#testimonials h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.3rem;
    line-height: 1;
    font-weight: 600;
}


.img-dog {
    width:40px;
    height: 40px;
    border-radius: 200%;
    margin: 20px;

}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 20px;
}

.press-logo{

    width:15%;
    margin:  20px 20px 50px;
    
}

.carousel-item{
  padding: 15% 10%;
}

#pricing{
    padding: 100px;
    text-align: center;
}


.colum{
    padding-top: 30px;
    text-align: center;
    
}

#last3{
 height:500px;
}

/* .card{
    color:#242424
} */

#cta{
    background-color: #ff4c68;
    text-align: center;
    /* color: #fff; */
    
}

#cta h3{
    font-size: 4rem;
    padding: 8% 15% 1%;
    font-weight: bolder;
}

#footer {

    text-align: center;
    height: 250px;

 
}


.fac{
   padding: 10% 1% 2%;
}